{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}

{% block content %}
    <div class="container mt-5">

        <!-------------------------------
                    View Username  
        ---------------------------------->
      <div class="container">
        {% if user.is_superuser%}
        <p>User: {{user.username}}</p>
        {%else%}
        <p>User: {{user.first_name}} {{user.last_name}}</p>
        {%endif%}

        <!--------------------------------
                    Navigation-bar 
        ---------------------------------->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'add-recipe' %}">Add-Recipe</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recipe</li>
          </ol>
        </nav>
        
          <!-- -------------------------------
                        Search Bar
          ------------------------------------>
          <div class="mb-5">
              <form method="GET">
                  {%csrf_token%}
                  <div class="form-group">
                      <label for="search">Search</label>
                      <input name="search" type="text" class="form-control" id="search" placeholder="Enter Recipe Name">
                  </div>
                  <div class="d-flex justify-content-between">
                    <button type="submit" name="action" value="search" class="btn btn-primary">Search</button>
                    <button type="submit" name="action" value="sort" class="btn btn-primary">Sort by Descending Order</button>
              </form>
            </div>
              <!---------------------------------------
                                Drop Down 
              ----------------------------------------->
          
          <!-- <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->
            
            <!------------------------------------
                        Not Found Message
            -------------------------------------->
          {% if messages %}
          {{messages.tags}}
          <div class="alert alert-primary mt-3" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %} 
          </div>
          {% endif %}
      </div>    
          
    </div>
        

    <!-------------------------------------------------------
                   Use table instead of Card 
           REMEMBER TO ADD FOR LOOP TO GET EVERY RECIPES 
    --------------------------------------------------------->

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Recipe Name</th>
          <th scope="col">Recipe Description</th>
          <th scope="col">Recipe Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody> 
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{recipe.recipe_name}}</td>
          <td>{{recipe.recipe_description}}</td>
          <td>
            <img src="/media/{{recipe.recipe_image}}" height="100px">
          </td>
          <td>
              <a href="/delete_recipe/{{recipe.id}}/" class="btn btn-danger mb-2">Delete</a>
              <a href="/update_recipe/{{recipe.id}}" class="btn btn-danger">Update</a>

          </td> 
        </tr>
      </tbody>
    </table> -->

      <!--------------------------------------------
            View Recipes in Card Format
      ---------------------------------------------->
      {%if not messages%}
      <div class="d-flex flex-wrap pl-5">
        {% for recipe in recipes %}
        <div class="card mr-4 mb-4" style="max-width: 20rem;  display: inline-block;">
          <img src="/media/{{recipe.recipe_image}}" style="max-height: 18rem;" class="card-img-top p-2" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>{{recipe.recipe_name}}</b></h5><hr>
            <p class="card-text" style="height: 120px; overflow: hidden;">{{recipe.recipe_description}}</p>
            <a href="#" class="btn btn-primary">Visit Recipe</a>
            <a href="/delete_recipe/{{recipe.id}}/" class="btn btn-danger delete-recipe-btn" >Delete</a>
            <a href="/update_recipe/{{recipe.id}}" class="btn btn-danger">Update</a>
          </div>
        </div>
        {% endfor %}
        {%endif%}
      </div>
    </div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelectorAll('.delete-recipe-btn').forEach(function(button){
      button.addEventListener('click', function(e){
        e.preventDefault();
        var confirmed = confirm('Are you sure you want to delete this recipe?');
        if (confirmed){
          window.location.href = this.href;
        }
      })
    })
    
  })
</script>

{% endblock %}
